.skills-container {
    /* display: flex;
    justify-content: space-between; */
}

.skills-wrapper {
    display: flex;
    justify-content: space-between;
}

.skills-column {
    flex: 1;
    padding: 0 10px; /* Optional: Adds some spacing between the columns */
}

.skill {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 10px; /* Adds space between each skill */
}


.skill-name {
    flex: 1;
    font-weight: bold;
    margin-right: 10px; /* Spacing between the skill name and the progress bar */
}

.progress-bar {
    background-color: #e0e0e0;
    border-radius: 3px;
    height: 4px; /* Adjust for desired bar height */
    width: 60%; /* Adjust for desired bar width */
    overflow: hidden;
}

.progress {
    height: 100%;
    transition: width 0.4s ease-in-out;
    /* Default gradient */
    background: linear-gradient(to right, #8fefb7, #baed53);
}

.programming .progress {
    background: linear-gradient(to right, #3498db, #9b59b6);
}

.technologies .progress {
    background: linear-gradient(to right, #e9e173, #f98d11);
}
  

@media (max-width: 768px) { /* Adjust breakpoint as needed */
    .skills-container {
        flex-direction: column;
    }

    .skill {
        width: 100%;
        margin-bottom: 10px; /* Spacing between skills on smaller screens */
    }
}


.dual-box-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .education-box,
  .experience-box {
    background: transparent;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 48%; /* Adjust width to leave some space in the middle */
  }
  
  .education-title,
  .experience-title {
    font-size: 1.25em;
    margin-bottom: 20px;
  }
  
  .education-item,
  .experience-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  



  .edu-icon,
  .exp-icon {
    font-size: 1.5em;
    margin-right: 10px;
    width: 30px;
    height: 30px;
  }
  
  .education-content h3,
  .experience-content h3,
  .education-content p,
  .experience-content p {
    margin: 0;
    padding-left: 20px;
  }
  
  .education-content h3,
  .experience-content h3 {
    font-size: 0.85em;
    margin-bottom: 4px;
  }
  /* Increase specificity by including a parent class */
.dual-box-container .education-content h3,
.dual-box-container .experience-content h3 {
  font-size: 0.9em; /* Adjust this value as needed */
  margin-bottom: 4px; /* Keep the space between title and subtext */
}
  
  .education-content p,
  .experience-content p {
    color: #666666;
    font-size: 0.9em;
  }
  .institution
  .location,
  .date {
    display: block; /* ensures the content goes to the next line */
    padding-left: 36px; /* aligns with the content above if you have an icon */
    color: #666666; /* a lighter grey to differentiate from the title */
    font-size: 0.9em; /* smaller font size for subtext */
  }
  
  /* You can remove the padding-left from the h3 and p tags inside 
     .education-content and .experience-content to avoid double indentation. */
  
  /* Adjusted CSS for h3 and p tags ... */

  .education-content h3,
  .experience-content h3,
  .education-content p,
  .experience-content p {
    margin: 0;
    /* padding-left: 20px; This can be removed if you use the .location and .date classes */
  }

  .education-content .institution,
  .experience-content .institution,
  .education-content .city,
  .experience-content .city {
    display: block; /* Display each on a new line */
    margin-bottom: 2px; /* Smaller space below the line */
    line-height: 1.2; /* Tighter line spacing */
    font-size: 0.85em; /* Text size */
    color: #666666; /* Text color */
  }
  
  .education-content .date,
  .experience-content .date {
    display: block; /* Display on a new line */
    margin-bottom: 3px; /* Adjust the bottom margin to match above */
    line-height: 0.01px; /* Tighter line spacing, if needed */
    font-size: 0.85em; /* Text size */
    color: #666666; /* Text color */
  }

.imageflex { display: flex; }
.imageflexcontent { margin-left: 5px; margin-top: 0; }